<h1>Users</h1>
<ul class="users-index group">
  <% users.forEach( function (user) { %>
    <li class="group">

      <a href="#/users/films/<%= user.id %>">
        <label class="username"><%= user.escape('username') %></label>
        <img src="<%= user.escape('image_url') %>" alt="" />
      </a>
      <% if (GoodSees.currentUser.id != user.id) { %>
        <% if (user.escape('friend_status') == 'Friends') { %>
          <label class="friend">FRIEND</label>
        <% } %>
        <% if (user.escape('friend_status') == 'Request Sent') { %>
            <label class="pending"for="">PENDING</label>
        <% } %>
        <% if (user.escape('friend_status') == 'Request Pending') {%>
            <button user-id="<%= user.id %>" class="accept-request" name="button">Accept Request</button>
        <% } %>
        <% if (user.escape('friend_status') == 'Not Friends') { %>
            <button user-id="<%= user.id %>" class="send-request" name="button">Send Friend Request</button>
        <% } %>
      <% } %>

    </li>
  <% }) %>
</ul>
