<% if (GoodSees.currentUser == user.id) {%>

  <form id="input-user-image-form">Pic
    <input id="input-user-image" type="file" name="image" >
    <img src="" id="preview-post-image" width="50px" height="50px"/>
    <button name="submit">Update Image</button>
  </form>

  <section class="profile-main group">
    <h1><%=   user.escape('username') %></h1>
    <img src="<%= user.get("image_url") %>" width="100" alt="">
    <ul class="profile-info">
      <li class="name">
        <label>Name:<%= user.escape('name') %></label>
        <input class="hidden" type="text" name="user[name]" value="<%= user.escape('name') %>">
      </li>
      <li class="email">Email:<%= user.escape('email') %></li>
      <li class="location">
        <label>Location: <%= user.escape('location') %></label>
        <input class="hidden edit-loc" type="text" name="location" value="<%= user.escape('location') %>">
      </li>
      <li class="bday">
        <label>Birth Date: <%= user.escape('birth_date') %></label>
        <input class="hidden edit-bday" type="date" name="birth_date" value="<%= user.escape('birth_date') %>">
      </li>
    </ul>
  </section>

    <section class="profile-bio">
      <h3>Bio:</h3>
      <p class="profile-bio">
        <%= user.escape('bio') %>
      </p>
      <textarea class="hidden" name="birth_date" rows="8" cols="40"><%= user.escape('bio') %></textarea>
    </section>


    <section class="profile-reel">
      Featured Reel: <%= reel.escape('name') %>
      <ul class="films-list group">
      </ul>
      <a href="#/users/films/<%= user.id %>">See all of <%= user.escape('username')%>'s films!'</a>
    </section>


    <section class="profile-friends">
      <h1>Friends</h1>
      <ul class="friends-list">
        <% friends.forEach( function (friend) { %>
          <li class="friends-list-item">
            <label for=""><%= friend.escape('username') %></label>
            <a href="#users/<%= friend.id %>"><img src="<%= friend.escape('image_url') %>"/></a>
          </li>
        <% }) %>
      </ul>
    </section>




<% } else { %>

  <section class="profile-main group">
    <h1><%=   user.escape('username') %></h1>
    <ul class="profile-info">
      <li class="name">Name:<%= user.escape('name') %></li>
      <li>Email:<%= user.escape('email') %></li>
      <li>Location: <%= user.escape('location') %></li>
      <li>Birth Date: <%=   user.escape('birth_date') %></li>
    </ul>
  </section>

    <section class="profile-bio">
      <h3>Bio</h3>
      <p class="profile-bio">
        <%= user.escape('bio') %>
      </p>
    </section>


    <section class="profile-reel">
      Featured Reel: <%= reel.escape('name') %>
      <ul class="films-list group">
      </ul>
      <a href="#/users/films/<%= user.id %>">See all of <%= user.escape('username')%>'s films!'</a>
      </section>


<% } %>
