
<section class="main-section">


  <section class="sidebar">


    <section class="user-info">
      <h1><%= user.escape('username') %>'s Films</h1>
      <%= user.escape('reels') %>
    </section>

    <section class="user-reels">

      <ul class="reel-list">
        <% user.reels().forEach( function (reel) { %>
          <li class="reel-display" reel-id="<%= reel.id %>">
            <a class="reel-name" href="#" reel-id="<%= reel.id %>"><%= reel.escape('name') %> (<%= reel.films().models.length %>)</a>
            <% if (reel.get('custom') && reel.id != GoodSees.currentUserFeaturedReel
              ) {   %>
              <a reel-id="<%= reel.id %>" class="delete-reel">X</a>
            <% } %>
          </li>
        <% }) %>
      </ul>

      <% if (user.id === GoodSees.currentUser) { %>
        <input type="text" class="new-reel-name" value="">
        <button class="add-new-reel" name="button">Add Reel</button>
      <% } %>

    </section>

  </section>

  <section class="reel-films">
    <ul class="films-list">

    </ul>
  </section>



</section>
