
<h3>EDIT PROFILE</h3>

<form action="<%= user_url(@user.id) %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PATCH">

  <h3>Edit Profile</h3><br>

  <label> Name
    <input type="text" name="user[name]" value="<%= @user.name %>"><br>
  </label>

  <label> Location
    <input type="text" name="user[location]" value="<%= @user.location %>"><br>
  </label>

  <label> Birth Date
    <input type="date" name="user[birth_date]" value="<%= @user.birth_date %>">
  </label>

  <label> Select Featured Reel
    <ul>
      <% @user.reels.each do |reel| %>
        <li> <%= reel.name %>
          <% if reel.id == current_user.featured_id %>
            <input type="radio" name="user[featured_id]" checked value="<%= reel.id %>">
          <% else %>
            <input type="radio" name="user[featured_id]" value="<%= reel.id %>">
          <% end %>
        </li>
      <% end %>
    </ul>

  </label>

  <label> Bio
    <textarea name="user[bio]" rows="20" cols="80"><%= @user.bio %></textarea>
  </label>




  <input type="submit" value="Submit">
</form>
