<h1><%= @film.title %></h1>

<h4>Average Rating: <%= @film.average_rating %> from <%= @film.ratings.size %> users</h4>
<a href="<%= @film.imdb_url %>">IMDB</a>

<p>
  <%= @film.description %>
</p>

<% if current_user.films.include?(@film) %>
    <%= link_to "Edit Rating", edit_rating_url(@rating.id) %>
   <h3>Rated as: <%= @rating.star_rating %></h3>
   <h3>Viewed on: <%= @rating.view_date %></h3>

   <p>
     <%= @rating.review %>
   </p>
<% else %>
  <%= link_to "New Rating", new_film_rating_url(@film.id) %>
<% end %>

<% if current_user.is_admin? %>
<h5>ADMIN CONTROLS</h5><br>
<a href="<%= edit_film_url(@film.id) %>">Edit This Film</a>
<%= button_to "Delete This Film", film_url(@film.id), method: :delete %>
<% end %>


<% @film.ratings.includes(:user).each do |rating| %>
  <% next if rating == @rating %>
  <content>
    <h3><%= rating.user.username %>: <%= rating.star_rating %></h3>

    <p>
      <%= rating.review %>
    </p>
  <content>
<% end %>
