<h1><%= @film.title %></h1>

<a href="<%= @film.imdb_url %>">IMDB</a>

<p>
  <%= @film.description %>
</p>

<% if current_user.films.include?(@film) %>
    <%= link_to "Edit Rating", edit_film_rating_url(@film.id, @rating.id) %>
   <h3>Rated as: <%= @rating.rating %></h3>
   <h3>Viewed on: <%= @rating.view_date %></h3>

   <p>
     <%= @rating.review %>
   </p>
<% else %>
  <%= link_to "New Rating", new_film_rating_url(@film.id) %>
<% end %>
