<h1>My Reels</h1>

<ul class="reels-list">
  <h4>Reel Name - Featured</h4>
  <% @reels.each do |reel| %>
    <li>
    <%= render 'show', reel: reel %>
    <% if reel.id == current_user.featured_id %>
    <input type="radio" name="user[featured_id]" checked value="<%= reel.id %>">
    <% else %>
    <input type="radio" name="user[featured_id]" value="<%= reel.id %>">
    <% end %>
    </li>
  <% end %>
</ul>

<h4>Create a New Reel</h4>
<form id="form_id" action="<%= reels_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="">Reel Name</label><br>
  <input type="text" name="name" value="">
  <input type="submit" name="submit" value="Submit">
</form>
