<section class="film-info">

  <img src="<%= film.get('image_url') %>" alt="" />
<section class="film-info-header group">
  <h1><%= film.get('title') %></h1>

  <a href="<%= film.get('imdb_url') %>"><img src="http://uxmonty.com/img/social-media/IMDb.png" alt="" /></a>
  <label>Average Rating: <%= film.get('average_rating') %></label>
  <% if (GoodSees.currentUser.isSignedIn()) {%>
  <label>Your Rating: <div id="rating"></div></label>
  <% } %>
  <section class="view-date-editable">
    <div class="view-display">View Date: <%= film.userRating().get('view_date') %></div>
    <form rating-id="" class="date hidden">
      <input type="date" name="view_date" value="<%= film.userRating().get('view_date') %>">
      <button class="update">Update</button>
      <a class="cancel" href="#">Cancel</a>
    </form>
  </section>
  <p>
    Plot: <%= film.get('description') %>
  </p>
</section>





<section class="review-editable"> Your Review:
  <p>
    <%= film.userRating().get('review') %>
  </p>
  <textarea class="hidden" name="rating[review]" rows="8" cols="40"><%= film.userRating().get('review') %></textarea>
  <button class="update-review hidden">Update Review!</button>
</section>


<ul class="ratings">
  <h2>User Ratings:</h2>
  <% film.ratings().forEach( function (rating) { %>
    <li class="group">
      <section class=user-info>
        <a href="#users/<%= rating.user().id %>"><%= rating.user().get('username') %></a>
        <img src="<%= rating.user().get('image_url') %>" alt="" />
        <label for="">Rating:</label>
        <div class="other-user-rating" star-rating="<%= rating.get('star_rating') %>"></div>
      </section>
      <p>
        <%= rating.get('review') %>
      </p>
    </li>
  <% }) %>
</ul>
</section>
