
<section class="film-title">
  Title: <a href="/films/<%= film.id %>"><%= film.escape('title') %></a>
</section>

<section class="film-avg-rating">
  Average Rating: <%= film.escape('average_rating') %>
</section>

<% if (GoodSees.currentUser == rating.get('user_id')) { %>

  <section class="user-rating">
    User Rating: <div id="rating-<%= rating.id %>"</div>
  </section>


  <section class="view-date-editable">
    <div class="view-display">View Date:<%= rating.escape('view_date') %></div>
    <form rating-id="<%= rating.id %>" class="date hidden">
      <input type="date" name="view_date" value="<%= rating.get('view_date') %>">
      <button class="update">Update</button>
      <a class="cancel" href="#">Cancel</a>
    </form>
  </section>

  <section class="reels">
    User Reels:
    <% film.reels().forEach( function (reel) { %>
      <%= reel.get('name') %>,
    <% }) %>
    <a class="edit-reels" href="#">edit reels</a>
  </section>

  <form class="hidden change-reels" film-id="<%= film.id %>">
    <ul>
      <li><input class="watched" type="radio" name="default"
        value="<%= userReels.findWhere( {name: 'Watched'} ).id %>">Watched</li>

      <li><input class="to-watch" type="radio" name="default"
        value="<%= userReels.findWhere( {name: 'To Watch'} ).id %>">To Watch</li>
      <% userReels.each( function (reel) { %>

        <% if (reel.get('name') != 'To Watch' && reel.get('name') != 'Watched') {%>
          <li><input type="checkbox" name="[reels][<%= reel.id %>]"
              value="<%= reel.id %>"><%= reel.get('name') %></li>
        <% } %>

      <%}) %>
    </ul>
    <a href="#">Done</a>
    </form>



<% } else {%>

  <section class="user-rating">
    User's Rating: <div id="other-rating-<%= rating.id %>"</div>
  </section>

  <section class="view-date">
    ViewDate: <%= rating.escape('view_date') || "hasn't seen it!" %>
  </section>

  <section class="reels">
    User Reels:
    <% console.log(film) %>
    <% film.reels().each( function (reel) { %>
      <%= reel.get('name')%>,
      <% }) %>
  </section>


<% } %>
